@import url(./utilities.css);

:root {
  --primary-bg-color: #121212;
  --secondary-bg-color: #80808049;
  --primary-color: #e0e0e0;
}

/* Soft CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}

/* Custom Styles */
main {
  min-width: 60%;
}

.sel-play-display {
  flex: 0;
  width: 70%;
  aspect-ratio: 1;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
}

.score-display {
  font-size: 1.5rem;
}

#plays-ui > *:not(#vs-sign) {
  justify-content: space-evenly;
}

#plays-choices-container {
  position: relative;
}

#plays-choices-container button {
  color: var(--primary-color);
  background-color: var(--secondary-bg-color);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

#plays-choices-container button:hover {
  cursor: pointer;
}

#result-div {
  position: absolute;
  font-size: 1.2rem;
}
